@media screen and (max-width: 1000px) {
    .header_img {
        width: 120px;
        height: 120px;
    }
    .header_title {
        font-size: 35px;
    }
    .header_subtitle {
        font-size: 25px;
    }
}
@media screen and (max-width: 760px) {
    .header_inner {
        position: relative;
    }
    .header_img {
        position: absolute;
        width: 50px;
        height: 50px;
    }
    .header_img:first-child {
        left: -60px;
    }
    .header_img:last-child {
        right: -60px;
    }
    .header_title {
        font-size: 30px;
    }
    .header_subtitle {
        font-size: 20px;
    }
}
@media screen and (max-width: 540px) {
    .header_subtitle {
        font-size: 16px;
    }
    .header_title {
        font-size: 25px;
    }
    .pictures__row:not(.pictures__row:first-child) img {
        width: 270px;
        height: 270px;
    }
    .pictures__row:last-child .pictures__item:last-child{
        margin-top: 70px;
    }
}

@media screen and (max-width: 540px) {
    .footer__img {
        display: none;
    }
}
